main{
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:20px;
	box-shadow:1px 1px 12px grey;
	border-radius:5px;
		grid-column-template:1fr 1fr;

}

.profile-section{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	gap:10px;
	min-width: 50%;
}

.my-info{
		display:flex;
		justify-content:space-around;
	align-items:center;
		gap:10px;



}

img{
	width:150px
}


